.mp-panel-menu {
    width: 450px;
}

.mp-history-scroll {
    height: 400px;
}

.mp-search-entry {
    margin: 8px;
}

.mp-no-results {
    padding: 12px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}

.mp-remove-btn .system-status-icon {
    icon-size: 16px;
    padding: 4px 12px;
}

.mp-remove-box {
    spacing: 10px;
}
